<section id="carrier">
    <h1 class="title-section">Carrier</h1>
    <div class="content-carrier">
        <ul class="interprises">
            <li onclick="firstint()">Google (teste)</li>
            <li onclick="secondint()">Facebook (teste)</li>
            <li onclick="thirdint()">Tiktok (teste)</li>
        </ul>
        <div class="about-interprises">
            <p>Click on any interprise to see more about my experience</p>
        </div>
    </div>
</section>
