<section id="contact">
    <h1 class="title-section">Contact</h1>
    <h3>Atualmente estou em busca de oportunidades, seja de freelancer ou de trabalho. Entre em contato comigo caso o meu perfil se encaixa  com o que procura e caso tenha alguma dúvida!</h3>
    
    <a href="#">
        <strong>Contact me</strong>
    </a>
</section>