<main>
    <div class="text">
        <p>Olá, meu nome é</p>
        <h1>Junior Guimarães</h1>
        <h1>Full Stack Developer</h1>
        <p>Trabalho no desenvolvimento de websites, construindo seu Front-End e Back-End.</p>
        <a href="">Download CV</a>
    </div>
    <img class="me" alt="" src="./assets/me.png" />
</main>