<main>
    <div class="text">
        <span>Olá, meu nome é</span>
        <h1>Junior Guimarães</h1>
        <h1>Front End & Back End Developer</h1>
        <p>Trabalho no desenvolvimento de websites, construindo seu Front-End e Back-End.</p>
        <a href="">Download CV</a>
    </div>
    <img class="me" alt="" src="./assets/me.png"/>
</main>