<section id="projects">
    <h1 class="title-section">Projects</h1>
    <ul class="cards-container">
        <li><a target="_blank" href="">
            <img src="/assets/devfinances-pr.png" alt="" class="img-pr">
            <div class="text-projects">
                <span>
                    <div class="header-span">
                        <h3>Dev Finances</h3>
                        <img src="./assets/redirect-svgrepo-com.svg" alt="">
                    </div>
                    <p>App de gerenciamento financeiro</p>
                    <ul class="techs">
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JAVASCRIPT</li>
                    </ul>
                    
                </span>
            </div>
        </a></li>
        <li><a target="_blank" href="">
            <img src="/assets/pokeapi-pr.png" alt="" class="img-pr">
            <div class="text-projects">
                <span>
                    <div class="header-span">
                        <h3>PokeApi</h3>
                        <img src="./assets/redirect-svgrepo-com.svg" alt="">
                    </div>
                    <p>Pokedex usando api externa</p>
                    <ul class="techs">
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JAVASCRIPT</li>
                        <li>REACTJS</li>
                        <li>POKEAPI</li>
                    </ul>
                    </span>
                
            </div>
        </a></li>
        <li><a target="_blank" href="">
            <img src="/assets/movieslib-pr.png" alt="" class="img-pr">
            <div class="text-projects">
                <span>
                    <div class="header-span">
                        <h3>MoviesLib</h3>
                        <img src="./assets/redirect-svgrepo-com.svg" alt="">
                    </div>
                    <p>Catálogo de filmes</p>
                    <ul class="techs">
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JAVASCRIPT</li>
                        <li>REACTJS</li>
                        <li>MOVIESLIB API</li>
                    </ul>
                    
                </span>
            </div>
        </a></li>
        <li><a target="_blank" href="">
            <img src="/assets/weathering-pr.png" alt="" class="img-pr">
            <div class="text-projects">
                <span>
                    <div class="header-span">
                        <h3>Weathering</h3>
                        <img src="./assets/redirect-svgrepo-com.svg" alt="">
                    </div>
                    <p>Previsão metereológica através do nome da cidade</p>
                    <ul class="techs">
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JAVASCRIPT</li>
                        <li>REACTJS</li>
                        <li>WEATHER API</li>
                    </ul>
                    
                </span>
            </div>
        </a></li>
        <li><a target="_blank" href="">
            <img src="/assets/beautysalon-pr.png" alt="" class="img-pr">
            <div class="text-projects">
                <span>
                    <div class="header-span">
                        <h3>Beauty Salon</h3>
                        <img src="./assets/redirect-svgrepo-com.svg" alt="">
                    </div>
                    <p>Uma landing page para a Beauty Salon</p>
                    <ul class="techs">
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JAVASCRIPT</li>
                    </ul>
                    
                </span>
            </div>
        </a></li>
        <li><a target="_blank" href="">
            <img src="/assets/buscadorgithub-pr.png" alt="" class="img-pr">
            <div class="text-projects">
                <span>
                    <div class="header-span">
                        <h3>Buscador de perfis</h3>
                        <img src="./assets/redirect-svgrepo-com.svg" alt="">
                    </div>
                    <p>Buscando informações de perfis no GitHub usando api externa deles</p>
                    <ul class="techs">
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JAVASCRIPT</li>
                        <li>GITHUB API</li>
                    </ul>
                    
                </span>
            </div>
        </a></li>
    </ul>
    <div class="footer-projects">
        <a target="_blank" href="https://github.com/nioritos">See more</a>
    </div>
</section>