<section id="techs">
    <h1 class="title-section">Technologies</h1>
    <div class="content-techs">
        <ul>
            <li>
                <img src="./assets/react.png" alt="">
                <p>ReactJS</p>
            </li>
            <li>
                <img src="./assets/js.svg" alt="">
                <p>Javascript</p>
            </li>
            <li>
                <img src="./assets/ts.svg" alt="">
                <p>Typescript</p>
            </li>
            <li>
                <img src="./assets/html.svg" alt="">
                <p>HTML5</p>
            </li>
            <li>
                <img src="./assets/css.svg" alt="">
                <p>CSS3</p>
            </li>
            <li>
                <img src="./assets/db.png" alt="">
                <p>MYSQL</p>
            </li>
        </ul>
    </div>
</section>